{{template "header" . }}
<div class="container">
  <h4>Sign up</h4>
  <br>
  <form method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" name="username" value="{{ .Username }}">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" value="{{ .Password }}">
    </div>
    {{ if .ErrMsg }}
    <div class="text-danger">*{{ .ErrMsg }}</div>
    <br>
    {{ end }}
    <br>
    <button type="submit" class="btn btn-dark btn-block btn-lg">Sign up</button>
  </form>
</div>

</body>
</html>

